body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.dark {
  background-color: #333;
  color: #f4f4f9;
}

.container {
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

body.dark .container {
  background: #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(to top right, #ffa500, #fbc054);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.dark h1 {
  background: linear-gradient(to top right, #ffa500, #fbc054);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  width: calc(100% - 40px);
  max-width: 100%;
  height: 150px;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: monospace;
  background: #e9f7fe;
  color: #333;
  resize: vertical;
}

body.dark textarea {
  background: #555;
  color: #f4f4f9;
  border: 1px solid #666;
}

textarea:focus {
  outline: 2px solid #007bff;
}

body.dark textarea:focus {
  outline: 2px solid #66b2ff;
}

.buttons {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to top right, #ffa500, #fbc054);
  color: white;
  cursor: pointer;
}

body.dark button {
  background: linear-gradient(to top right, #cc8400, #d99a3a);
}

button:hover {
  background: linear-gradient(to top right, #ff8c00, #fba034);
}

body.dark button:hover {
  background: linear-gradient(to top right, #b36b00, #c4882a);
}

#themeToggle {
  background: #f4f4f9;
  color: #333;
  position: absolute;
  top: 15px;
  right: 15px;
}

body.dark #themeToggle {
  background: #555;
  color: #f4f4f9;
}

.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  width: calc(100% - 40px);
  max-width: 100%;
  margin: 15px auto;
}

body.dark .error {
  color: #f4f4f9;
  background-color: #d9534f;
  border: 1px solid #a94442;
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.options > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  color: #333;
  cursor: pointer;
}

body.dark select {
  background: #555;
  color: #f4f4f9;
  border: 1px solid #666;
}

label {
  font-weight: bold;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
